<div class="starter-template">
  <h1>Join and Follow Celebrities and Entretreneurs.</h1>
  <p class="lead">Use this document as a way to quickly start any new project.
    <br> All you get is this text and a mostly barebones HTML document.</p>
  <a href="account/signup" class="btn btn-primary" role="button">Join Us</a>
  <a href="account/signin" class="btn btn-primary" role="button">Sign In</a>
</div>